@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
.container {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  position:absolute;
  width: 350px;
  height: 350px;
}
.press-start {
  font-family: 'Press Start 2P';
  color: #fff;
  font-size: 80px;
  transform: rotate(20deg) skew(-20deg);
  -webkit-transform: rotate(20deg) skew(-20deg);
  -moz-transform: rotate(20deg) skew(-20deg);
  -o-transform: rotate(20deg) skew(-20deg);
  -ms-transform: rotate(20deg) skew(-20deg);
  text-shadow: 1px 1px 0 #74BE00,
    2px 2px 0 #74BE00,
    3px 4px 0 #74BE00,
    4px 5px 0 #74BE00,
    5px 7px 0 #74BE00,
    6px 8px 0 #74BE00,
    7px 10px 0 #74BE00,
    8px 11px 0 #74BE00,
    9px 13px 0 #74BE00,
    10px 14px 0 #74BE00,
    11px 16px 0 #74BE00,
    12px 17px 0 #74BE00,
    13px 19px 0 #74BE00,
    14px 20px 0 #74BE00,
    15px 22px 0 #74BE00,
    16px 23px 0 #74BE00,
    17px 25px 0 #74BE00,
    18px 26px 0 #74BE00,
    19px 28px 0 #74BE00,
    20px 29px 0 #74BE00,
    21px 30px 0 #6dad07,
    23px 31px 0 #6dad07,
    24px 32px 0 #6dad07,
    26px 33px 0 #6dad07,
    27px 34px 0 #6dad07,
    29px 35px 0 #6dad07,
    30px 36px 0 #6dad07,
    32px 37px 0 #6dad07,
    33px 38px 0 #6dad07,
    35px 39px 0 #6dad07,
    36px 40px 0 #6dad07,
    38px 41px 0 #6dad07,
    39px 42px 0 #6dad07,
    41px 43px 0 #6dad07,
    42px 44px 0 #6dad07,
    44px 45px 0 #6dad07,
    45px 46px 0 #6dad07,
    47px 47px 0 #6dad07,
    48px 49px 0 #aef044,
    49px 51px 0 #aef044,
    50px 53px 0 #aef044,
    51px 55px 0 #aef044,
    52px 57px 0 #aef044,
    53px 59px 0 #aef044,
    54px 61px 0 #aef044,
    55px 63px 0 #aef044,
    56px 65px 0 #aef044,
    57px 67px 0 #aef044,
    58px 69px 0 #aef044,
    59px 71px 0 #aef044,
    60px 73px 0 #aef044,
    61px 75px 0 #aef044,
    62px 77px 0 #aef044,
    63px 79px 0 #aef044,
    65px 80px 0 #74BE00,
    68px 81px 0 #74BE00,
    70px 82px 0 #74BE00,
    72px 83px 0 #74BE00,
    74px 84px 0 #74BE00,
    76px 85px 0 #74BE00,
    78px 86px 0 #74BE00,
    80px 87px 0 #74BE00,
    82px 88px 0 #74BE00,
    84px 89px 0 #74BE00,
    86px 90px 0 #74BE00,
    88px 91px 0 #74BE00,
    90px 92px 0 #74BE00;
}
